* { 
    box-sizing: border-box;
}
html { 
    background-color: rgb(197, 243, 175);
}
h1 {
    color: rgb(162, 238, 172);
    border-bottom:  inset 5px rgb(39, 123, 7);
    background-color: rgb(39, 139, 61);
    text-align: center;
    width: 100%;
    height: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1;
    margin: auto;

}

body {
    padding: 0px;
    margin: 0px;
}

h2, p { 
    text-align: center;
}

ul {
    list-style: none;
   
    
}

li {
    border: 2px solid ;
    border-radius: 20%;
    padding: 2px 5px;

}

button:hover {
    box-shadow: 5px 5px 5px 5px #000000;
}


