* { 
    box-sizing: border-box;
}
html { 
    background-color: rgb(197, 243, 175);
}

body {
    padding: 0px;
    margin: 0px;
}

h2, p { 
    text-align: center;
}

ul {
    list-style: none;
   
    
}

li {
    border: 2px solid ;
    border-radius: 20%;
    padding: 2px 5px;

}

body button:hover {
    box-shadow: 5px 5px 5px 5px #000000;
}


