@import "./global.css";

@import "./components/header.css";
@import "./components/Quizcard/quiz-card.css";
@import "./components/Quizcard/quiz-card-headers.css";
@import "./components/footer.css";


.darkmode {
    background-color: #1d1d1d;
    color: rgb(10, 10, 10);
}


.form-ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 95vh;
    padding: 10% 0;
    margin: 0%;
    
} 

.form-textarea {
    resize: none;
}

