@import "./global.css";

@import "./components/quiz-card.css";
@import "./components/quiz-card-headers.css";





.quiz-card__musik-tag {
    background-color: rgb(242, 239, 174);
  margin: 5px;

}



.quiz-card__tag {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding-left: 5%;
}




footer button:hover {
    box-shadow: 5px 5px 5px 5px #000000;
    background-color: rgb(3, 82, 15);
    transition: 0,9s; /*?*/
}

button:hover {
    box-shadow: 5px 5px 5px 5px #000000;
}

.quiz-card__history-tag {
    background-color: rgb(165, 245, 220);
  
}

.quiz-card__geography-tag {
    background-color: rgb(240, 217, 157);
  
}

.quiz-card__gossip-tag {
    background-color: rgb(238, 184, 240);
  
}

.zufalls-tag {
    background-color: rgb(247, 175, 175);
  
}

.biologie-tag {
    background-color: rgb(209, 240, 184);
  
}



.nav {
    color: rgb(162, 238, 172);
    border-top:  inset 5px #277b07;
    background-color: #278b3d;
    width: 100%;
    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    margin: auto;
}

.Home {
   
    background-color: rgb(185, 245, 94);
    border: none;
    
   
  }



  .Favoriten {
    
      background-color: rgba(185, 245, 94, 0.471);
      border: none;
   
  }
  
  .Profil {
     
      background-color: rgba(148, 240, 11, 0.136);
      border: none;
      flex-grow: 1;
  }

  .profil-body {
position: relative;

  }

  .label-name {
    position: absolute;
    top: 150%;
    right: 30%;
    border: none;
  }

.label-biografie {
    position: absolute;
    top: 350%;
    left: 20%;
    border: none;
    width: 60%;
    height: 100%;
  }

  .buttons-info {
    display: flex;
   justify-content: space-around;
  }

