.music-card {
    border: groove 4px rgb(148, 145, 10);
    background-color:rgb(252, 230, 108);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5% 10%;
    padding-top: 2%;
    position: relative;
   
}

.music-card  .quiz-card__favourite-button {
    background-color: transparent;
    border: none;
    position:absolute;
    top: 0;
    right: 0;

}


.history-card {
    border: groove 4px rgb(27, 158, 125);
    background-color: aqua;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5% 10%;
    padding-top: 2%;
    position: relative;
   
}


.history-card  .quiz-card__favourite-button {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
  
}

.geography-card {
    border: groove 4px rgb(196, 115, 39);
    background-color: rgb(242, 176, 106);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5% 10%;
    padding-top: 2%;
    position: relative;
   
}

.geography-card  .quiz-card__favourite-button {
    background-color: transparent;
    border: none;
    position:absolute;
    top: 0;
    right: 0;

}

.gossip-card {
    border: groove 4px rgb(199, 28, 205);
    background-color:  rgb(246, 159, 237);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5% 10%;
    padding-top: 2%;
    position: relative;
   
}


.gossip-card  .quiz-card__favourite-button {
    background-color: transparent;
    border: none;
    position:absolute;
    top: 0;
    right: 0;
 
}


.random-card {
    border: groove 4px rgb(210, 18, 30);
    background-color:  rgb(249, 136, 149);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5% 10%;
    padding-top: 2%;
    position: relative;
   
}

.random-card .quiz-card__favourite-button{
    background-color: transparent;
    border: none;
    position:absolute;
    top: 0;
    right: 0;
  
}

.biology-card {
    border: groove 4px rgb(36, 137, 36);
    background-color: rgb(133, 240, 133);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5% 10%;
    padding-top: 2%;
    position: relative;
    
    
    }

    .biology-card  .quiz-card__favourite-button {
        background-color: transparent;
        border: none;
        position:absolute;
        top: 0;
        right: 0;
      
    }

    .quiz-card__answerbutton {
        margin: 15px;
        
    }
    

